* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: crimson;
  padding: 10px 15px;
  font-size: 18px;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(71, 71, 124, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
h1 {
  text-align: center;
  color: white;
  margin-top: 50px;
}

main {
  padding: 60px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 320px;
  border-radius: 50%;
}
